html,body
{
	margin: auto;
	width:90%;
	height:95%;
	font-family: 'Comfortaa', cursive;
}

#map { 
	/* 
	border: 5px solid black;
	opacity: 0.5 !important;
	width: 90% !important;
width: 110% !important;
	 */
background: white; 
height: 100% !important;

 }

 #map:before {
	 position: absolute;
	 content: '';
	 height: 100%;
	 width: 100%;
	 /* background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
	 /* background: linear-gradient(to right, white, rgba(0, 0, 0, 0)); */
	 /* background: radial-gradient(farthest-corner at center, rgba(0,0,0,0), white); */
	 background: radial-gradient(farthest-corner at center, transparent, white 75%);
	 pointer-events: none;
	 z-index: 999;
 }


 /* map controls */
.leaflet-left
{
}
.leaflet-bottom 
{
	/*
	 * margin-top: 200px !important;
	 */	
margin-bottom: -20px !important;
margin-right: 5px !important;
}
.leaflet-right{
	/*
	 * margin-left: 0px !important;
	 */
}
.leaflet-top
{
}

.leaflet-control-zoom,
.leaflet-bar
{
	/*
	 * margin-right: 200px !important;
	 */
margin-bottom: -200px !important;
}

.leaflet-control-minimap
{
	margin-right: 45px !important;
}

 .leaflet-control-attribution{
	 visibility: hidden;
 }

 .leaflet-tile{ 
	 filter: blur(10px)
 }
 .leaflet-tile.leaflet-tile-loaded{
	 filter: blur(0);
	 transition:.6s all ease-in;
 }


 .leaflet-control-zoom-in,
 .leaflet-control-zoom-out {
	 padding: 1px;
	 /* 
	 padding-right: 10px;
	  * margin-bottom: 1px;
 */
}
 .leaflet-control-zoom-out {
 }

 .leaflet-touch .leaflet-control-zoom-in 
 {
 }
 .leaflet-touch .leaflet-control-zoom-out 
 {
 }
 .leaflet-container
 {
	 font-family: 'Comfortaa', cursive;
 }
 /*
 .leaflet-control-zoom.leaflet-bar.leaflet-control > a {
 float: right;
 }
  */
.logo{
/*
height: 80px !important;
 */
width: 220px;
}
.searchbar
{
	/*
	 * margin-top: 5px;
	 * margin-right: 15px;
	 align-content: center !important;
	 vertical-align: bottom!important;
margin-top: 5px;
	 */
align-items: center;
}

/* autocomplete */
input.searchbar 
{
	background-image: url("./../img/icon_search.png");
	background-repeat: no-repeat;
	background-position: right 10px center;
	font-style: normal !important;
	font-family: 'Comfortaa', cursive !important;
	font-size: 22px !important;	
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7) !important; /* glow */
	width: 100% !important;
	height: 40px !important;
	opacity: 0.9 !important;
	box-shadow: 0 8px 6px -6px black !important;
	-moz-box-shadow: 0 8px 6px -6px black !important;
	-webkit-box-shadow: 0 8px 6px -6px black !important;
	margin-bottom: 0px !important;
	padding: 10px !important;
}

/* 
.ui-autocomplete { 
 */
.easy-autocomplete-container
{
	cursor: default;
	z-index:900000000 !important;
	font-style: normal !important;
	font-family: 'Comfortaa', cursive !important;
	font-size: 22px !important;	
	opacity: 0.95 !important;
	width: 100% !important;
	text-align: left;
	/* glow */
	/* text-shadow: 0px 0px 6px rgba(255,255,255,0.7) !important; */
	text-shadow: 0px 0px 0.5px rgba(34, 27, 27, 0.7) !important;
	margin-bottom: 0px !important;
	padding: 0px !important;
}

.easy-autocomplete-container ul li 
{
	/*
	* height: 10px !important
	 */
margin: 0px !important;
padding: 7px !important;
font-size: 12px !important;
opacity: 0.9 !important;
}

.easy-autocomplete-container li:hover 
{
	margin: 0px !important;
	opacity: 1 !important;
}

/*
 * fontawesome
 */
.fa-heart
{
	color: red;
	text-shadow: 1.2px 1.2px 1.2px #ccc;
}

hr
{ 
	margin-bottom: 20px;	
	border: 0; 
	height: 1px; 
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}

.flag
{
	/*
	position:relative;
	 * margin-bottom: 50px;
	 */
-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.flag:before, .flag:after
{
	content:"";
	position:absolute;
	z-index:-1;
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
	box-shadow:0 0 20px rgba(0,0,0,0.8);
	top:0;
	bottom:0;
	left:10px;
	right:10px;
	-moz-border-radius:100px / 10px;
	border-radius:100px / 10px;
}
.flag:after
{
	right:10px;
	left:auto;
	-webkit-transform:skew(8deg) rotate(3deg);
	-moz-transform:skew(8deg) rotate(3deg);
	-ms-transform:skew(8deg) rotate(3deg);
	-o-transform:skew(8deg) rotate(3deg);
	transform:skew(8deg) rotate(3deg);
}

#typed
{
	font-size: 14px !important;
}

/********************/ 
/*** start of sandbox-city-search ***/
/********************/ 
.citybox-sandbox-searchbar-container
{
	padding-top: 0px !important; 
	/*
	padding-bottom: 20px !important;
	padding-right: 50%;
	padding-right: 200px;
	left: 50%;
	transform: translate(-50%, 0%);
	align-content: left !important;
	width: 50%;
	padding-right: 50%;
	height: 10%;
	margin: 10px;
	 */
	}

/********************/ 
/*** end of sandbox-city-search ***/
/********************/ 


/********************/ 
/*** start of nav ***/
/********************/ 

.citybox-datasource-nav-container
{
	align-content: center !important;
	width: 40%;
	height: 10%;
	margin-left: 0px !important;
	/*
	margin: 10px;
	 */
	}

	.slider
	{
		font-size: 22px !important;
		list-style: none;
		text-align: center;
		height: 100%;	
		/*	
		padding: 10px;
		height: 40px;	
		height: 40px;	
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-align-content: center;
		align-content: center;
		 */
	}

	.arrows
	{
		font-size: 42px !important;
		text-align: center;
		cursor: pointer
		/*	
		text-shadow: 1px 1px 1px #ccc;
		text-shadow: 0px 0px 16px rgba(255,255,255,0.7) !important; 
		margin-right: 80px;
		 */
	}

	/*
	.sliderfade:before{
	background: radial-gradient(farthest-corner at center, transparent, green 75%);
	}
	 */

.icon
{
	/* 
	 * text-shadow: 1px 1px 1px #ccc;
	 */
font-size: 32px;	
text-shadow: 3px 3px 5px black;
opacity: 0.7;
padding: 20px;
transition: all 0.1s ease-out;
}

.icon:hover 
{
	transform: scale(1.5);
	cursor: pointer
	/*
	margin: 10px;
	margin-top: 40px;
	margin-bottom: 40px;
	position: relative;
	margin-left: 0px;
	 */
	}

	.citybox-datasource
	{
		font-size: 10px;	
		/*
		color: black !important;
		text-shadow: 3px 3px 5px black;
		opacity: 0.7;
		padding: 20px;
margin: 20px;
		 */
transition: all 0.1s ease-out;
	}

	.citybox-datasource:hover
	{
		transform: scale(1.1);
		cursor: pointer
	}


	.vex.vex-theme-wireframe .vex-content
	{
		max-width: 80%;	
		width: 80%;	
		/*
		height: 100%;	
		 * opacity: 0.9;
		 */
}

.leaflet-container a
{
	color: black;
	text-decoration: none;
}

.btn,
input[type="submit"]
{
	cursor: pointer;
	border-radius: 0px;
	text-decoration: none;
	padding: 12px 18px;
	font-size: 12px;
	line-height: 19px;
	/*
	text-transform: uppercase;
	 * font-family: 'Montserrat', sans-serif; 
	 */
font-family: 'Comfortaa', cursive !important;
font-weight:400;
text-shadow: 0px 0px 0.5px rgba(34, 27, 27, 0.7) !important;
letter-spacing: 3px;
-webkit-transition: all .4s ease-in-out;
-moz-transition: all .4s ease-in-out;
-ms-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
	}

	.btn:hover,
	input[type="submit"]:hover
	{
		-webkit-transition: all .4s ease-in-out;
		-moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		-o-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out;
	}

	.btn-dark,
	input[type="submit"]
	{
		border:solid 2px #1f1f1f;
		/*
		 * background: transparent;
		 */
background: white;
color: #1f1f1f;
	}

	.btn-dark:hover,
	input[type="submit"]:hover,
	.btn-dark.active
	{
		border:solid 2px #1f1f1f;
		background: #1f1f1f;
		color: #fff;
	}

	.btn-color
	{
		background: white;
	}

	.btn-color:hover
	{
		color: #fff;
	}

	.btn-big {
		border-radius: 0px;
		text-decoration: none;
		padding: 18px 24px;
		font-size: 14px;
		line-height: 40px;
	}

	.slick-slide
	{
		margin: 10px;
	}

	/*** end of nav ***/

	/*** start of header ***/
	.header-container
	{
		text-align: center;
		height: 20%; /* min-height: 10vh;*/
		vertical-align: baseline !important;
		align-content: center !important;
		width:100%;
		line-height: 1 !important; 
		margin-top: 10px;
		margin-bottom: 10px;
		/*
		margin-bottom: 15px;
		align-items: center;
		display: flex;
		margin: 20px;
		 */
	}
	.citybox-menu
	{
		width: 100% !important;
		text-align: left !important;
		line-height: 32pt;
		font-size: 12px !important;	
		word-spacing: 0.2em;
		vertical-align: middle !important;
		/*
		padding: 10px !important;
		 * word-spacing: 2em;
		 */
	}

	a {
		position: relative;
		padding-bottom: 8px;
		text-decoration: none;
		color: black;
	}
	a:hover{
		text-decoration: none;
		color: black;
	}

	a:before, a:after {
		content: '';
		position: absolute;
		bottom: 2px;
		left: 0;
		right: 0;
		height: 2px;
		background-color: black;
	}
	a:before {
		opacity: 0;
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
		transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
		transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
	a:after {
		opacity: 0;
		-webkit-transform: translateY(4px);
		transform: translateY(4px);
		transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
		transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
	.menu-link:hover:before, .menu-link:hover:after, .menu-link:focus:before, .menu-link:focus:after {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	.menu-link:hover:before, .menu-link:focus:before {
		transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
		transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
	.menu-link:hover:after, .menu-link:focus:after {
		transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
		transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
	/*** end of header ***/

	/*** start of footer ***/
	.footer-container
	{
		text-align: center !important;
		vertical-align: middle !important;
		align-content: center !important;
		width:100%;
		line-height: 30px;
		/*
		display: flex;
		margin: 20px;
		 */
	}

	#footer 
	{
		clear: both;
		position: relative;
		z-index: 10;
		height: 3em;
		margin-top: -3em;
	}

	.subscribe
	{
		font-style: normal !important;
		font-family: 'Comfortaa', cursive !important;
		font-size: 18px !important;	
		text-shadow: 0px 0px 1px rgba(255,255,255,0.7) !important; /* glow */
		width: 30% !important;
		/*
		 * height: 50px !important;
		opacity: 0.9 !important;
		box-shadow: 0 4px 3px -3px black !important;
		-moz-box-shadow: 0 4px 3px -3px black !important;
		-webkit-box-shadow: 0 4px 3px -3px black !important;
	*/
}
	.copyright
	{
		font-size: 12px !important;	
		color: black;
		text-shadow: 0px 0px 0.5px rgba(34, 27, 27, 0.7) !important;
	}
	/*** end of footer ***/

	/*** start of citybox-hackathon ***/
	#citybox-hackathon-slider-container
	{
		margin: 80px;
		width: 400px !important;
		/*
		margin-left: 80px;
		 * height: 400px !important;
		 * width: 400px !important;
		 */
}

.citybox-missionstatment-photo,
.citybox-hackathon-photo
{
	/* 
	 * border: 7px solid black;
box-shadow: 0 20px 50px rgba(240, 46, 170, 0.7);
	 */
box-shadow: 0 8px 6px -6px black !important;
filter: brightness(1.5) grayscale(1);
mix-blend-mode: multiply;
width: 100%;
display: block;
position: relative;
/* 
margin-bottom: -10px !important;
outline: 1px solid white;
outline-offset: -4px;

width: auto;
max-height:100% !important;
max-width:100% !important;
height: auto;
 * height: auto;
width: auto;
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(80%,rgba(255,255,255,1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%);
background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%);
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%);
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
*/
}
/*** end of citybox-hackathon ***/

h4
{
	border-bottom: 2px solid currentColor;
	line-height: 2;
	text-shadow:
	2px 2px white,
	2px -2px white,
	-2px 2px white,
	-2px -2px white;
}
/*
 * button
 *
 * {
 *
 * padding: 18px 24px;
 *
 * min-width: 100% !important;
 *
 * }
 */

/**************************/
/*** start of scrollbar ***/
/**************************/
/*
.scrollbar {
	background-color: #F5F5F5;
	float: left;
	height: 300px;
	margin-bottom: 25px;
	margin-left: 22px;
	margin-top: 40px;
	width: 65px;
	overflow-y: scroll;
}

.force-overflow {
	min-height: 450px;
}
*/
/**************************/
/***** end of scrollbar ***/
/**************************/
