html,body
{
	margin: auto;
	width:95%;
	height:90%;
	font-family: 'Comfortaa', cursive;
}

#map { 
	border: 5px solid black;
	background: #000; 
	height: 70% !important;
}

#map { 
	background: #000; 
	height: 100%;
}

.leaflet-tile{ 
	filter: blur(10px)
}
.leaflet-tile.leaflet-tile-loaded{
	filter: blur(0);
	transition:.6s all ease-in;
}

/* 2col header */
.parent {
	display: flex;
	align-items: center;
	margin: 10px;
	margin-left: 20px;
	margin-right: 200px;
	height: 120px;
}
.left {
	flex-grow: 2;
	height: 140px; /* min-height: 10vh;*/
	width: 140px; 
	text-align: center;
	margin-top: 20px;
}
.right {
	flex-grow: 1;
}

.logo{
	height: 120px !important;
}


/* autocomplete */
input.searchbar {
	background-image: url("./../img/icon_search.png");
	background-repeat: no-repeat;
	background-position: right 10px center;
	font-style: normal !important;
	font-family: 'Comfortaa', cursive !important;
	font-size: 25px !important;	
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7) !important; /* glow */
	width: 500px !important;
	height: 50px !important;
	opacity: 0.9 !important;
	box-shadow: 0 8px 6px -6px black !important;
	-moz-box-shadow: 0 8px 6px -6px black !important;
	-webkit-box-shadow: 0 8px 6px -6px black !important;
}

/* 
.ui-autocomplete { 
 */
.easy-autocomplete-container{
	cursor: default;
	z-index:300000000 !important;
	font-style: normal !important;
	font-family: 'Comfortaa', cursive !important;
	font-size: 25px !important;	
	opacity: 0.95 !important;
	width: 100% !important;
	text-align: left;
	/* glow */
	/* text-shadow: 0px 0px 6px rgba(255,255,255,0.7) !important; */
	text-shadow: 0px 0px 0.5px rgba(34, 27, 27, 0.7) !important;
}

.easy-autocomplete-container ul li {
	font-size: 14px !important;
}
/*
 * fontawesome
 */
.fa-heart{
	color: red;
	text-shadow: 1.2px 1.2px 1.2px #ccc;
}

hr{ 
	border: 0; 
	height: 1px; 
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}
