html,body
{
	margin: auto;
	width:97%;
	height:90%;
	font-family: 'Comfortaa', cursive;
}

#map { 
	/* 
	border: 5px solid black;
	opacity: 0.5 !important;
	 */
background: white; 
height: 90% !important;

 }

 #map:before {
	 position: absolute;
	 content: '';
	 height: 100%;
	 width: 100%;
	 /* background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
	 /* background: linear-gradient(to right, white, rgba(0, 0, 0, 0)); */
	 /* background: radial-gradient(farthest-corner at center, rgba(0,0,0,0), white); */
	 background: radial-gradient(farthest-corner at center, transparent, white 75%);
	 pointer-events: none;
	 z-index: 999;
 }

 .leaflet-control-attribution{
	 visibility: hidden;
 }

 .leaflet-tile{ 
	 filter: blur(10px)
 }
 .leaflet-tile.leaflet-tile-loaded{
	 filter: blur(0);
	 transition:.6s all ease-in;
 }


 .leaflet-control-zoom-in,
 .leaflet-control-zoom-out {
	 padding: 5px;
 }
 .leaflet-control-zoom-out {
 }

 .leaflet-touch .leaflet-control-zoom-in {
 }
 .leaflet-touch .leaflet-control-zoom-out {
 }
 /*
 .leaflet-control-zoom.leaflet-bar.leaflet-control > a {
 float: right;
 }
  */
/* 2col header */
.parent {
	display: flex;
	align-items: center;
	margin: 5px;
	/* 
	 * height: 120px;
	 */
flex-wrap: wrap;
}
.left {
	flex-grow: 2;
	height: 100px; /* min-height: 10vh;*/
	width: 140px; 
	text-align: center;
	margin-bottom: 5px;
}
.right {
	margin-bottom: 5px;
	flex-grow: 1;
}

.logo{
	height: 100px !important;
}


/* autocomplete */
input.searchbar {
	background-image: url("./../img/icon_search.png");
	background-repeat: no-repeat;
	background-position: right 10px center;
	font-style: normal !important;
	font-family: 'Comfortaa', cursive !important;
	font-size: 22px !important;	
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7) !important; /* glow */
	width: 90% !important;
	height: 35px !important;
	opacity: 0.9 !important;
	box-shadow: 0 8px 6px -6px black !important;
	-moz-box-shadow: 0 8px 6px -6px black !important;
	-webkit-box-shadow: 0 8px 6px -6px black !important;
}

/* 
.ui-autocomplete { 
 */
.easy-autocomplete-container{
	cursor: default;
	z-index:300000000 !important;
	font-style: normal !important;
	font-family: 'Comfortaa', cursive !important;
	font-size: 22px !important;	
	opacity: 0.95 !important;
	width: 95% !important;
	text-align: left;
	/* glow */
	/* text-shadow: 0px 0px 6px rgba(255,255,255,0.7) !important; */
	text-shadow: 0px 0px 0.5px rgba(34, 27, 27, 0.7) !important;
}

.easy-autocomplete-container ul li {
	font-size: 12px !important;
	opacity: 0.9 !important;
}

.easy-autocomplete-container li:hover {
	opacity: 1 !important;
}


/*
 * fontawesome
 */
.fa-heart{
	color: red;
	text-shadow: 1.2px 1.2px 1.2px #ccc;
}

hr{ 
	border: 0; 
	height: 1px; 
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}

.flag
{
	position:relative;
	margin-bottom: 50px;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.flag:before, .flag:after
{
	content:"";
	position:absolute;
	z-index:-1;
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
	box-shadow:0 0 20px rgba(0,0,0,0.8);
	top:0;
	bottom:0;
	left:10px;
	right:10px;
	-moz-border-radius:100px / 10px;
	border-radius:100px / 10px;
}
.flag:after
{
	right:10px;
	left:auto;
	-webkit-transform:skew(8deg) rotate(3deg);
	-moz-transform:skew(8deg) rotate(3deg);
	-ms-transform:skew(8deg) rotate(3deg);
	-o-transform:skew(8deg) rotate(3deg);
	transform:skew(8deg) rotate(3deg);
}

#typed
{
	font-size: 14px !important;
}

/*** start of nav ***/
.icon
{
	/* 
	 * text-shadow: 1px 1px 1px #ccc;
	 */
font-size: 32px;	
text-shadow: 3px 3px 5px black;
opacity: 0.7;
padding: 20px;
transition: all 0.1s ease-out;
	}
	.icon:hover {
		transform: scale(1.5);
		cursor: pointer
		/*
		margin: 10px;
		margin-top: 40px;
		margin-bottom: 40px;
		position: relative;
		margin-left: 0px;
		 */
	}
	.citybox-datasource{
		font-size: 10px;	
		/*
		text-shadow: 3px 3px 5px black;
		opacity: 0.7;
		 */
padding: 10px;
transition: all 0.1s ease-out;
	}
	.citybox-datasource{
		transform: scale(1.4);
		cursor: pointer
	}
	.container{
		align-content: center !important;
		width:40%;
		/*
		margin-top: 100px;
		 */
	}

	.slider{
		font-size: 22px !important;
		list-style: none;
		text-align: center;
		padding: 10px;
		/*	
		height: 40px;	
		height: 40px;	
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-align-content: center;
		align-content: center;
		 */
	}

	.arrows{
		font-size: 32px;
		text-align: center;
		cursor: pointer
		/*	
		margin-right: 80px;
		 */
	}

	.sliderfade:before{
		background: radial-gradient(farthest-corner at center, transparent, green 75%);
	}

	.vex.vex-theme-wireframe .vex-content{
		max-width: 90%;	
		width: 90%;	
		opacity: 0.9;
	}
	/*** end of nav ***/
	/*** start of footer ***/
	#footer {
		clear: both;
		position: relative;
		z-index: 10;
		height: 3em;
		margin-top: -3em;
	}
	.copyright{
		color: black;
		text-shadow: 0px 0px 0.5px rgba(34, 27, 27, 0.7) !important;
	}
	/*** end of footer ***/

